body {  
/*общий стиль страницы*/
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
a {                                /*отключение у ссылок подчеркивание*/
   text-decoration: none;          
}
.page-title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  font-weight: 700;
}
.container {              
  width:1160px; 
  padding-left: 10px; 
  padding-right: 10px; 
  margin: 0 auto;
 }
.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button-red {                      /* делаем цвет для кнопок-ссылок */
 background-color: #fb565a;
 color: #ffffff;
}
.button-green {
 background-color: #00ca74;
  color: #ffffff;
 }
.button-yellow {
 background-color: #efc849;
 color: #ffffff;
 }

.button:hover,                     /* реагирование кнопок */
.button:focus {
  background-color: #dfdfdf;
}
.button:active {
  color: #b7b7b7 ;
  background-color: #d5d5d5;
}
.main-header {
  margin-bottom: 80px;
}
.main-header-logo {
  padding: 75px;
  width: 160px;
  height: 65px;
  order: 0;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;  /*временно удаляем фон шапки*/
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  font-weight: 700;
}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 20px;  
  background-color: #eeeeee;  
}
.main-navigation-wrapper .container {
  width:1160px; 
  padding-left: 10px; 
  padding-right: 10px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.page-title {
    font-size: 55px;
    text-align: center;
    line-height: 55px;
}
.site-navigation-item,             /* Обнуляем значение списков */
.user-navigation,
.site-navigation-current,
.features-list,
.filter ul,
.catalog-list,
.footer-social ul {
	margin: 0;  
	padding: 0;
  list-style: none;
    }
.feature-item {
  width: 300px;
}
.features-list {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  }
.site-navigation-item a,           /* цвет ссылок */
.user-navigation a {
   color: #000000;
}
.site-navigation-item a:hover,     /* реагирование ссылок */
.site-navigation-item a:focus,
.user-navigation a:hover,
.user-navigation a:focus { 
  color: #fb565a;
}
.site-navigation-item a:active,
.user-navigation a:active {
  color: #a6a6a6 ;
}
.site-navigation-current a {       /* Подчеркивание активной ссылки и цвет */
 color: #000000;
 border-bottom: 2px solid #fb565a;
}
.site-navigation {
  width: 500px;
  margin: 0;
  padding: 75px;
  list-style: none;
}
.user-navigation {
  width: 175px;
  margin: 0;
  padding: 75px 0;
  list-style: none;
  }
.feature-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}
.filters {
  width: 280px;
}

.catalog {
  width: 760px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item {
  width: 360px;
  margin-bottom: 34px;
  margin-right: 40px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);                 /* стиль каталога */
}
.catalog-item:hover {                          /* активные ссылки каталога */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
}
.filter ul {
  line-height: 20px;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}
.filter-input:disabled + label {
  color: #ededed;
}

.main-footer {
 margin-top: 1208px;
 padding: 75px 0;
}
.inner-page .main-footer {
  margin-top: 590px;
}
.main-footer .container {
  width: 1160px; 
  padding-left: 10px; 
  padding-right: 10px; 
  margin: 0 auto;
  display: flex;
}
.footer-social {
  width: 280px;
  margin: 0;
  margin-right: 140px;
}
.footer-text {  
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  width: 560px;
  margin-right: 140px;
}                            
  /* оформление заглавного текста в футере */               
  .footer-text h3 {
 text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;               
}
.social-list a {                  /* цвет ссылок соц. сетей */
  color: #000000;
}
.modal-login {                    /* отключение модальных окон */
display: none;
}

   
    







