body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding-top: 51px;
}

.main-header-logo {
  padding: 72px 18px;
  width: 160px;
}

.main-navigation {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  font-weight: 700;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 20px;
  background-color: #eeeeee;
}

.main-navigation-wrapper .container {
  width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 240px;
  padding: 17px 41px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-red {
  width: 78px;
  background-color: #fb565a;
  color: #ffffff;
}

.button-green {
  width: 78px;
  background-color: #00ca74;
  color: #ffffff;
}

.features .button-green:hover,
.features .button-green:focus {
  background-color: #00bc6c;
}

.features .button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  width: 78px;
  background-color: #efc849;
  color: #ffffff;
}

.features .button-yellow:hover,
.features .button-yellow:focus {
  background-color: #eab534;
}

.features .button-yellow:active {
  background-color: #e5a722;
}

.button:hover,
.button:focus {
  background-color: #dfdfdf;
}

.button:active {
  color: #b7b7b7;
  background-color: #d5d5d5;
}

.features-list p {
  margin: 0;
  margin-bottom: 32px;
  width: 245px;
}

.navigation-item h2 {
  margin-top: 173px;
}

.catalog-item-image img {
  margin-bottom: 45px;
}

.site-navigation a,
.user-navigation a {
  padding: 20px 21px;
  display: block;
  vertical-align: middle;
}

.user-navigation .basket-link {
  padding-left: 76px;
  position: relative;
  padding-top: 75px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 36px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.site-navigation-item a {
  padding: 20px 20px;
  display: block;
  vertical-align: middle;
  color: #000000;
}

.user-navigation a {
  padding: 20px 0;
  display: block;
  vertical-align: middle;
  color: #000000;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation-item a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation-current a {
  color: #000000;
  border-bottom: 2px solid #f7898b;
  padding: 0 0;
  margin-left: 22px;
  margin-top: 21px;
  margin-right: 19px;
  padding-bottom: 3px;
  width: 75px;
}

.site-navigation {
  width: 505px;
  margin: 0;
  padding: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation-item,
.user-navigation,
.site-navigation-current,
.features-list,
.filter ul,
.catalog-list,
.footer-social ul {
  margin: 0;
  padding: 3px;
  list-style: none;
}

.user-navigation {
  width: 130px;
  max-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-top: -36px;
  margin-bottom: 83px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 102px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 27px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  margin-left: 18px;
}

.slider-item p {
  padding-left: 19px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 97% 16px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 111%;
  top: 55%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -6px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item-button.button {
  display: block;
  width: 209px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  margin-left: 17px;
}

.slider-item-button.button:hover,
.slider-item-button.button:focus {
  background-color: #e74246;
}

.slider-item-button.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.feature-item {
  width: 300px;
}

.features {
  border-bottom: 2px solid #eeeeee;
}

.features-list {
  width: 1100px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 251px;
  margin-left: 18px;
}

.feature-item h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.filters {
  width: 280px;
  margin-top: -4px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 69px;
  padding-bottom: 27px;
  padding-left: 16px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: -26px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-top: 9px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
}

.price-controls input {
  width: 60px;
  padding: 10px 10px;
  margin-left: 8px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 28px;
  margin-bottom: -20px;
  padding-left: 18px;
}

.filter ul {
  padding: 0;
  margin: 0;
  line-height: 18px;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #4d4d4d;
}

.filter-input:disabled+label {
  color: #ededed;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 53px;
  padding-top: 6px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -35px;
  top: -4px;
  border-radius: 50%;
  border: 4px solid #a6a6a6;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #a6a6a6;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 20px 20px;
  color: #000000;
  background-color: #eeeeee;
}

.button-pagination-item a {
  display: block;
  padding: 20px 20px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item-current a {
  color: #000000;
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-left: 0;
  margin-bottom: 65px;
}

.pagination-list a {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 18px;
  font: inherit;
  font-weight: 500;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  background-color: #eeeeee;
  text-align: center;
}

.button-pagination-item {
  min-width: 260px;
  color: #000000;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.pagination-item-current a {
  background-color: #ffffff;
  border-color: #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
  border-color: #dbdbdb;
}

.main-footer {
  padding: 36px;
  height: 145px;
}

.main-footer .container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  width: 280px;
  margin: 0;
  margin-left: -82px;
  padding-right: 120px;
  padding-top: 2px;
}

.footer-social ul {
  padding: 30px 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #e1e1e1;
}

.social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  list-style: none;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active path {
  fill: #e37376;
}

.footer-text h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  min-height: 45px;
  margin-bottom: 0;
}

.footer-text {
  text-align: left;
  width: 560px;
  padding-top: 3px;
}

.partners {
  margin-bottom: 85px;
}

.partners-list {
  width: 1132px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 133px;
  padding-left: 25px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-left: 18px;
}

.partners-list li {
  width: 250px;
  position: relative;
  text-align: center;
  padding-right: 87px;
}

.partners-item:nth-child(1) a {
  width: 199px;
  height: 68px;
  top: 95px;
  left: -69px;
}

.partners-item:nth-child(2) a {
  width: 209px;
  height: 90px;
  top: 85px;
  left: -38px;
}

.partners-item:nth-child(3) a {
  width: 185px;
  height: 52px;
  top: 84px;
  right: 4px;
}

.partners-item:nth-child(4) a {
  width: 173px;
  height: 84px;
  top: 90px;
  right: -30px;
}

.partners-item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 13px;
  right: 27px;
  background-color: #eeeeee;
}

.partners-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 16px;
  right: 10px;
  background-color: #eeeeee;
}

.partners-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 15px;
  right: -7px;
  background-color: #eeeeee;
}

.partners img {
  width: auto;
}

.partners a {
  display: block;
  position: absolute;
  margin: auto;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.index-columns {
  padding: 37px;
  width: 1160px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-top: 75px;
  margin-left: 18px;
}

.about-us ul {
  list-style: none;
}

.about-us table {
  text-align: center;
  margin-left: 49px;
}

.about-us td {
  text-align: left;
}

.description-we {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
}

.description-catalog-item {
  padding-bottom: 23px;
}

.description {
  min-width: 660px;
}

.description-info {
  padding-bottom: 23px;
}

.perform-orders {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 2px;
}

.about-list {
  padding-left: 36px;
}

.about-list-item {
  position: relative;
  padding-bottom: 24px;
}

.about-list-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  left: -35px;
  top: 10px;
}

.indicators {
  min-width: 413px;
  padding-left: 89px;
  text-align: center;
}

.indicators img {
  margin-top: -35px;
  padding-bottom: 10px;
  padding-left: 49px;
}

.indicators-info {
  padding-left: 44px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 23px;
}

.percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.percent-item {
  padding-bottom: 13px;
}

.percent td {
  padding-right: 18px;
}

.percent sup {
  font-size: 63%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.catalog-item-image. img {
  padding-top: 100px;
}

.inner-page .main-header {
  background-color: #eeeeee;
  margin-bottom: 56px;
  margin-top: -6px;
  min-height: 360px;
  padding-top: 0;
}

.inner-page .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 360px;
}

.inner-page .main-header-logo {
  padding: 0 0;
  width: 160px;
  padding-left: 17px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.inner-page .site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 70px;
  margin-left: 7px;
}

.inner-page .user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 70px;
  min-height: 70px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  font-weight: 700;
  text-align: center;
  margin-left: 34px;
  margin-bottom: 30px;
  margin-top: 67px;
}

.inner-page .basket-link {
  padding-left: 72px;
  position: relative;
  padding-top: 4px;
}

.inner-page .basket-link::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 32px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.inner-page .main-footer {
  height: 145px;
}

.inner-page .footer-social {
  width: 280px;
  margin: 0;
  margin-left: -81px;
}

.inner-page .social-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  list-style: none;
  margin-top: 3px;
}

.inner-page .footer-text {
  text-align: left;
  width: 560px;
  padding-top: 3px;
}

.inner-page .our-adress {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 319px;
  min-height: 308px;
  margin-top: 50px;
  padding-top: 48px;
  padding-left: 49px;
  margin-left: 17px;
  background-color: #ffffff;
  z-index: 3;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.catalog {
  margin-top: -27px;
  width: 760px;
  padding-right: 1px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-top: 9px;
}

.catalog-containers {
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-containers:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.catalog-containers:nth-child(2n) {
  margin-right: 0;
}

.catalog-containers:hover .catalog-item {
  display: block;
}

.catalog-item {
  position: absolute;
  z-index: 10;
  width: 360px;
  bottom: 0;
  background-color: #eeeeee;
  color: #666666;
  padding-top: 30px;
  padding-bottom: 43px;
  display: none;
}

.catalog-item p {
  margin: 0 auto;
  max-width: 227px;
}

.catalog-item .button {
  margin: 0 auto;
  display: block;
  width: 118px;
  color: #ffffff
}

.browser {
  z-index: 20;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.catalog-containers:hover .browser {
  opacity: 1;
}

.catalog-item-title {
  margin-bottom: 12px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3px;
  margin-right: -17px;
}

.catalog-item-title a {
  color: #000000;
}

.modal-login {
  display: none;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  width: 755px;
  padding: 63px 102px;
  bottom: 120px;
  left: 50%;
  margin-left: -461px;
  z-index: 4;
}

.modal-login label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-login h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 24px;
  margin-left: -4px;
}

.modal-login p {
  margin-bottom: 18px;
}

.modal {
  color: #000000;
  position: fixed;
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 108px;
  right: 90px;
  list-style: none;
  width: 21px;
  height: 21px;
  background-color: transparent;
  opacity: 0.3;
  border: none;
  background-image: url("../img/close-cross.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  font-size: 0;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
  outline: none;
}

.modal-login input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left: 14px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  outline: none;
  opacity: 0.5;
}

.modal-login textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 115px;
  width: 760px;
  padding-left: 13px;
  padding-top: 11px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  opacity: 0.5;
  outline: none;
  margin-bottom: 25px;
  resize: none;
}

.modal-login input:hover {
  opacity: 1;
}

.modal-login input:focus {
  border-color: #000000;
}

.modal-login textarea:hover {
  opacity: 1;
}

.modal-login textarea:focus {
  border-color: #000000;
}

.login-form input[type="text"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: inherit;
  color: #000000;
  text-transform: capitalize;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  padding: 10px 13px;
}

.login-form input[type="email"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: inherit;
  color: #000000;
  text-transform: capitalize;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  padding: 10px 15px;
  margin-left: -2px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-left: -3px;
}

.login-form .button {
  width: 260px;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  background-color: #fb565a;
  cursor: pointer;
}

.our-adress {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 319px;
  min-height: 308px;
  margin-top: 48px;
  padding-top: 49px;
  padding-left: 49px;
  background-color: #ffffff;
  z-index: 3;
  margin-left: 19px
}

.our-adress .button {
  width: 138px;
  height: 15px;
  margin-top: 34px;
  background-color: #fb565a;
}

.modal-login .button {
  outline: none;
}

.modal-login .button:hover,
.modal-login .button:focus {
  background-color: #e74246;
}

.modal-login .button:active {
  background-color: #d7373b;
}

.studio-adress {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.adress {
  width: 205px;
  font-size: 16px;
  line-height: 18px;
  padding-top: 7px;
  padding-left: 2px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 760px;
  margin-bottom: 29px;
  padding-top: 13px;
}

.sorting-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 360px;
  list-style: none;
  margin-top: 16px;
  padding-left: 2px;
}

.main-sorting {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
}

.sorting-item {
  margin-right: 26px;
}

.sorting a {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.sorting li {
  font-size: 14px;
  line-height: 18px;
}

.sorting-link-down,
.sorting-link-up {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 11px;
  height: 10px;
  top: 9px;
  font-size: 0;
  color: #000000;
}

.sorting-link {
  opacity: 0.3;
}

.sorting-link:hover {
  opacity: 0.6;
  color: #000000;
}

.sorting-link:active,
.sorting-link:focus {
  opacity: 1;
  color: #000000;
}

.sorting-link-down:hover::before,
.sorting-link-up:hover::before {
  opacity: 0.6;
  color: #000000;
}

.sorting-link-down:active::before,
.sorting-link-up:active::before,
.sorting-link-down:focus::before,
.sorting-link-up:focus::before {
  color: #000000;
  opacity: 1;
}

.sorting-link-up::before {
  content: '';
  position: absolute;
  background-image: url("../img/icon-up.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 10px;
  opacity: 0.3;
  left: 24px;
  bottom: 5px;
}

.sorting-link-down::before {
  content: '';
  position: absolute;
  background-image: url("../img/icon-down.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 10px;
  opacity: 0.3;
  left: 21px;
  bottom: 5px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.map iframe {
  width: 100%;
  position: relative;
  z-index: 2;
  border: none;
  margin-top: -6px;
}

.iframe-map {
  background-image: url("../img/map-marker.jpg");
  height: 410px;
}

.map .feedback-button:hover,
.map .feedback-button:focus {
  background-color: #e74246;
}

.map .feedback-button:active {
  background-color: #d7373b;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
  opacity: 0.8;
}

.inner-page .main-header-logo:active {
  opacity: 0.2;
}

.inner-page .container {
  width: 1160px;
  padding-left: 13px;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000000;
  width: 260px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-left: 17px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: #959595;
}

.phone {
  padding-left: 3px;
}

.catalog-item-image {
  background-image: url("../img/illustration-1.jpg");
  width: 300px;
  height: 146px;
  margin-bottom: 29px;
}

.catalog-item-image-1 {
  background-image: url("../img/illustration-2.jpg");
  width: 300px;
  height: 146px;
  margin-bottom: 29px;
}

.catalog-item-image-2 {
  background-image: url("../img/illustration-3.jpg");
  width: 300px;
  height: 146px;
  margin-bottom: 29px;
}
